<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="crestconnection" connectionString="Data Source=covmdvap02\main;Initial Catalog=CREST_Dev;User ID=CrestDevUser;Password=!CrestDevUser123;timeout=3600;" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
	
	<system.serviceModel>
	 <!--<protocolMapping>
    <add scheme="http" binding="webHttpBinding"/>
  </protocolMapping>-->
		<services>
			<service name="OdataJson.RestStudentServiceImpl" behaviorConfiguration="ServiceBehaviour">
				<endpoint address="" binding="webHttpBinding" contract="OdataJson.IRestStudentServiceImpl" behaviorConfiguration="web" >
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<!-- To avoid disclosing metadata information, set the value below to false before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>      
            <behavior name="web">
                <webHttp />
                <!--<crossOriginResourceSharingBehavior />-->
            </behavior>
            </endpointBehaviors>
		</behaviors>
	
	</system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
